!!! 5
%html.gt-ie8.gt-ie9.not-ie.pxajs
  %head
    %meta{content: "text/html; charset=UTF-8", http-equiv: "Content-Type"}
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", http-equiv: "X-UA-Compatible"}
    %title Web Mobile Demo
    %meta{content: "width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0", name: "viewport"}
    %link{href: "styles/vendor.css", rel: "stylesheet", type: "text/css"}
    %link{href: "styles/app.css", rel: "stylesheet", type: "text/css"}

  %body
    %section#main
      %header{data-title: "Hello Lemontechers"}
      %article#main-article
        Welcome to Mobile Web :)

    %script{src: 'scripts/vendor.js'}
    %script{src: 'scripts/app.js'}
